#rectangle {
  width: 1451px;
  height: 774px;
}

#rectangle2 {
  width: 1194.67px;
  height: 448px;
}

#rectangle3 {
  width: 1203.01px;
  height: 158.62px;
}

#services {
  width: 266px;
  height: 28px;
  align-content: center;
  padding: 30px;
  color: #ff4301;
}

#rectangle7 {
  width: 1440px;
  height: 15px;
  background-color: #ff4301;
}

#rectangle4 {
  width: 266px;
  height: 28px;
  background-color: white;
}

.centered {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center {
  font-weight: bolder;
  padding: 20px;
  padding-left: 20px;
}
#grad1 {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.84),
      rgba(0, 0, 0, 0.86)
    ),
    url("assets/graceBabirye/images/Group 60.svg");
  background-repeat: no-repeats;
  background-size: cover;
  background-position: center;
  height: 774px;
}

#hr {
  width: 186px;
  height: 5px;
  background-color: #ff4301;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 100%;
}
